<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{#if logged_in}}
            <li><a id="logout" href="#">Logout</a></li>
            {{else}}
            <li><a href="/home/login">Login</a></li>
            <li><a href="/home/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </nav>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>&copy; Kendall Bliss</p>
    </footer>
</body>
</html>

<script src="/js/logout.js"></script>