<section class="dashboard">
    <div>
        <h2>Your Posts</h2>

        {{#if posts.length}}
            <ul class="posts-list">
                {{#each posts}}
                    <li class="post">
                        <h3>{{this.post_title}}</h3>
                        <p>{{this.post_text}}</p>
                        <p class="post-meta">Posted on {{format_date this.createdAt}}</p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>You haven't posted anything yet.</p>
        {{/if}}
    </div>
    <div>
        <h2>Create a new Post</h2>

        <form class="post-form" action="/api/post" method="post">
            <textarea name="post_title" placeholder="Post Title"></textarea>
            <textarea name="post_text" placeholder="Post Text"></textarea>
            <input type="hidden">
            <button type="submit">Add post</button>
        </form>
    </div>        
</section>

<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>