<div class="container mt-5 login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form class="login-form">
                        <div class="mb-3 form-group">
                            <label for="username-login">Username</label>
                            <input class="form-input" type="text" id="username-login" required>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="password-login">Password</label>
                            <input class="form-input" type="password" id="password-login" required>
                        </div>
                        <div class="d-grid gap-2form-group">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>